.main-header {
    
    h1 {
        color: $color-gray-one;
        font-family: "Encode Sans";
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
    }

    p {
        color: $color-red;
        font-family: 'Encode Sans Condensed';
        font-weight: 300;
        line-height: 20px;
    }
}