$color-red: #BA0000;
$color-gray-one: #4D4D4D;
$color-gray-two: #E6E6E6;

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    margin: 39px 140px;
    font-family: "Encode Sans";
}

@import './newsletter';
@import './header';
@import './addHeaderBorder';
@import './addHeaderNav';
@import './addTitle';
@import './signin';
@import './newsletter_content.scss';
@import './newsletter_archive.scss';
@import './newsletter_add.scss';
@import './infoBox.scss';