form {

    width: 629px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
        transform: translateX(-64.5px);
        label {
            width: 129px;
            color: $color-red;
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
        }

        input {
            width: 500px;
            border: 1px solid $color-gray-two;
            border-radius: 5px;
        }
    }

    .email {
        margin-top: 77px;
    }

    .password {
        margin-top: 41px;
    }

    button {
        margin-top: 87px;
        height: 40px;
        width: 216.67px;
        border-radius: 20px;
        background-color: $color-red;

        color: #FFFFFF;
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
    }
}